.maps {
    float: left;
    margin-right: 12px;
}

.controls {
    float: left;
}

#small_today_map {
    float: left;
    width: 230px;
    height: 140px;
    margin-right: 12px;
    margin-bottom: 12px;
    background-color: #f0f0f0;
}

#small_tomorrow_map {
    float: left;
    width: 230px;
    height: 140px;
    margin-right: 12px;
    margin-bottom: 12px;
    background-color: #f0f0f0;
}

#small_after_tomorrow_map {
    float: left;
    width: 230px;
    height: 140px;
    margin-right: 12px;
    margin-bottom: 12px;
    background-color: #f0f0f0;
}

#container {
    clear: both;
    margin-top: 130px;
    width: 714px;
    height: 435px;
    background-color: #f0f0f0;
}
